@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    <div class="jumbotron">
        @*<p>@Html.ActionLink("Learn more »", "About", "Home", null, new {@class = "btn btn-primary btn-lg"})</p>*@
    </div>
</div>