@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="jumbotron">
        @*<h3>@ViewBag.Message</h3>
        <address>
            <br />
            <br />
            <abbr title="Phone Number">Tel:</abbr>
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:user@test.com">user@test.com</a><br />
        </address>*@
    </div>
</div>