@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="jumbotron">
        @*<h3>@ViewBag.Message</h3>
        <address>
            Hightech Park of Pardis<br />
            aa building #1<br />
            <abbr title="Phone Number">Tel:</abbr>+982182204422
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:ApplicationSupport@aa.com">ApplicationSupport@aa.com</a><br />
        </address>*@
    </div>
</div>